<% title = "Account" %>
<% set_head(title) %>

<h1>Account</h1>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
  <%= f.submit "Update", :id => "edit_account" %>

  <div class="clear_right"></div>

  <p class="input_error_text">
    <%= render "devise/shared/errors", :field => :current_password %>
  </p>
  <div class="account_info">
    <div class="info_title">
      <p>Current password*</p>
    </div>
    <div class="info_content">
      <p><%= f.password_field :current_password, :class => ("field_with_errors" if resource.errors.messages[:current_password]) %></p>
    </div>
  </div>

  <p class="input_error_text">
    <%= render "devise/shared/errors", :field => :name %>
  </p>
  <div class="account_info">
    <div class="info_title">
      <p>Name</p>
    </div>
    <div class="info_content">
      <p><%= f.text_field :name, :class => ("field_with_errors" if resource.errors.messages[:name]) %></p>
    </div>
  </div>

  <p class="input_error_text">
    <%= render "devise/shared/errors", :field => :email %>
  </p>
  <div class="account_info">
    <div class="info_title">
      <p>E-mail</p>
    </div>
    <div class="info_content">
      <p><%= f.email_field :email, :class => ("field_with_errors" if resource.errors.messages[:email]) %></p>
    </div>
  </div>

  <p class="input_error_text">
    <%= render "devise/shared/errors", :field => :password %>
  </p>
  <div class="account_info">
    <div class="info_title">
      <p>Password</p>
    </div>
    <div class="info_content">
      <p><%= f.password_field :password, :autocomplete => "off", :class => ("field_with_errors" if resource.errors.messages[:password]) %></p>
    </div>
  </div>

  <p class="input_error_text">
    <%= render "devise/shared/errors", :field => :password_confirmation %>
  </p>
  <div class="account_info">
    <div class="info_title">
      <p>Confirmation</p>
    </div>
    <div class="info_content">
      <p><%= f.password_field :password_confirmation %></p>
    </div>
  </div>
<% end %>
<%= link_to '<div id="delete_account"><p>Delete</p></div>'.html_safe, registration_path(resource_name), :data => { :confirm => "Are you sure you want to destroy your account? All your data will be lost forever: there is no coming back." }, :method => :delete %>
