<% title = "Sign up" %>
<% description = "Jump right in! It's free. And start using 6LOCK today having all your passwords stored in one place." %>
<% set_head(title, description) %>

<h2>Sign up</h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <div id="sign_up_fields">
    <p>
      <%= render "devise/shared/errors", :field => :name %>
      <%= f.text_field :name, :placeholder => "Name", :class => ("field_with_errors" if resource.errors.messages[:name]) %>
    </p>

    <p>
      <%= render "devise/shared/errors", :field => :email %>
      <%= f.email_field :email, :placeholder => "E-mail", :class => ("field_with_errors" if resource.errors.messages[:email]) %>
    </p>

    <p>
      <%= render "devise/shared/errors", :field => :password %>
      <%= f.password_field :password, :placeholder => "Password", :class => ("field_with_errors" if resource.errors.messages[:password]) %>
    </p>

    <p>
      <%= render "devise/shared/errors", :field => :password_confirmation %>
      <%= f.password_field :password_confirmation, :placeholder => "Confirm password", :class => ("field_with_errors" if resource.errors.messages[:confirm_password]) %>
    </p>
  </div>

  <p><%= check_box_tag :agreement %> I have read and agree with the terms defined by the <%= link_to "user agreement", user_agreement_path, :class => 'sixlock' %></p>

  <p><%= f.submit "Sign up", :id => "sign_up_button" %></p>
<% end %>

<%= render "devise/shared/links" %>
