<h2>Sign up</h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>
  <div id="sign_up_fields">
    <p><%= f.text_field :name, :placeholder => "Name" %></p>

    <p><%= f.email_field :email, :placeholder => "E-mail" %></p>

    <p><%= f.password_field :password, :placeholder => "Password" %></p>

    <p><%= f.password_field :password_confirmation, :placeholder => "Confirm password" %></p>
  </div>

  <p><%= f.submit "Sign up", :id => "sign_up_button" %></p>
<% end %>

<%= render "devise/shared/links" %>
