<% title = "Features" %>
<% description = "Instead of trying to provide what others do not, we have been building 6LOCK thinking about what this is all about.
This is about safely storing account credentials. So basically, we wanted to achieve such a task in the most efficient and simple way we could." %>
<% set_head(title, description) %>

<p class="text">Instead of trying to provide what others do not, we have been building <span class="sixlock">6LOCK</span> thinking about what this is all about.
This is about safely storing account credentials. So basically, we wanted to achieve such a task in the most efficient and simple way we could.</p>

<%= image_tag 'file.png', :alt => "File icon", :class => "left_icon" %>

<p class="text"><span class="sixlock">6LOCK</span> uses its own language. Passwords and other information are stored in a file. A file is only a small container which will be assigned a name, that is all. In order to provide a more flexible way to store and find your passwords, files are part of top-level objects: folders, just like on your computer. More? You can create an unlimited ammount of these folders and files.</p>

<div class="clear_both"></div>

<%= image_tag 'paragraph_justify.png', :alt => "Paragraph icon", :class => "left_icon" %>

<p class="text">Files let you save 5 different items: the file name, a username, a password, a url in case you are storing website creadentials, and some additional notes. The password is the only encrypted item, see more information here: <%= link_to 'Security page', security_path, :class => "sixlock" %>.</p>

<div class="clear_both"></div>

<%= image_tag 'hammer.png', :alt => "Hammer icon", :class => "left_icon" %>

<p class="text">You can forge a random password. It means one of the features of <span class="sixlock">6LOCK</span> lets you create a password by specifying a length and the type of characters in it: "a" to "z", numbers and/or special characters. And this time, no need to consider the length or the complexity because you do not have to remember it anymore.</p>

<div class="clear_both"></div>

<%= image_tag 'hammer.png', :alt => "Hammer icon", :class => "left_icon" %>

<p class="text">EXPORT</p>