<%= content_tag :li, :id => ("current_folder" if folder == current_folder), :class => "folder_link element_link" do %>
  <%= link_to image_tag('cross.png', :alt => 'delete'), folder, :data => { :confirm => 'Are you sure?' }, :method => :delete, :remote => true, :class => 'delete_element' %>
  <a href="#" id="link_<%= folder.id %>" class="show_folder"><%= folder.name %></a>
  <%= form_for folder, :remote => true, :html => { :class => "rename_element" } do |f| %>
    <%= f.text_field :name, :size => '17', :id => "" %><%= f.submit 'OK', :class => "edit_element_submit" %>
  <% end %>
  <input class="edit_element" type="button">
<% end %>