<h1>Welcome<%= ", #{current_user.name}" if current_user.name %></h1>

<p>
<strong>New folder</strong>
<%= form_for @folder, :remote => true do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <%= f.submit %>
<% end %>
</p>

<p>
<strong>New record</strong>
<%= form_for @record, :remote => true do |f| %>
  <%= hidden_field_tag 'folder_id' %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <%= f.submit %>
<% end %>
</p>

<div id="folders">
<% @folders.each_with_index do |folder, i| %>
  <p>
  <% if i == @current_folder %>
    <em><%= folder.name %></em>
  <% else %>
    <%= folder.name %>
  <% end %>
  <%= link_to 'Destroy', folder, :data => { :confirm => 'Are you sure?' }, :method => :delete, :remote => true, :class => 'delete_folder' %><br>
  <% folder.records.each do |record| %>
    &nbsp;&nbsp;<%= link_to record.name, record %><br>
  <% end %>
  </p>
<% end %>
</div>


<p>
<strong>Often used</strong><br>
<% @often_used.each do |record| %>
  <%= record.name %><br>
<% end %>
</p>
