<% title = "Home" %>
<% set_head(title) %>

<h1>Welcome<%= ", #{current_user.name}" if current_user.name %></h1>

<p id="often_used">Favorites - <a id="edit_favorites" href="#">Edit</a></p>
<% [0, 1, 2].each do |i| %>
  <div class="change_favorite">
    <%= form_tag set_favorite_records_path do %>
      <%= collection_select(:favorite, i, @folders.map {|f| f.records }.flatten.sort_by(&:name), :id, :name, { :prompt => "Change" }) %>
    <% end %>
  </div>
  <% if record = @favorites.select {|r| r.position == i }.first %>
    <div class="often_used favorite">
      <div class="name">
        <p>
          <%= record.name %>
        </p>
      </div>
      <div class="data">
        <p>
          <span class="row">
            <span class="cell"><%= record.username %></span>
          </span>
          <span class="row">
            <span class="cell">
              <% if record.decrypted_password %>
                <input class="info_password" type="password" readonly="readonly" size="<%= record.decrypted_password.size %>" value="<%= record.decrypted_password %>">
                <input class="info_password password_value" type="text" readonly="readonly" size="<%= record.decrypted_password.size %>" value="<%= record.decrypted_password %>">
                <input class="toggle" type="button">
              <% end %>
            </span>
          </span>
          <span class="row">
            <span class="cell"><%= link_to record.url, record.url, :target => '_blank' %></span>
          </span>
        </p>
      </div>
      <%= link_to '<div class="link"></div>'.html_safe, record %>
      <%= link_to '<div class="delete_favorite"></div>'.html_safe, delete_favorite_record_path(record), :class => 'delete_favorite_link' %>
    </div>
  <% else %>
    <%= render 'blank_favorite' %>
  <% end %>
<% end %>
