<h1>Welcome<%= ", #{current_user.name}" if current_user.name %></h1>

<p id="often_used">Often used</p>

<% if @often_used %>
  <% @often_used.each do |record| %>
    <div class="often_used">
      <div class="name">
        <p>
          <%= record.name %>
        </p>
      </div>
      <div class="data">
        <p>
          <span class="row">
            <span class="cell"><%= record.username %></span>
          </span>
          <span class="row">
            <span class="cell">
              <% if record.decrypted_password %>
                <input class="info_password" type="password" readonly="readonly" size="<%= record.decrypted_password.size %>" value="<%= record.decrypted_password %>">
                <input class="info_password password_value" type="text" readonly="readonly" size="<%= record.decrypted_password.size %>" value="<%= record.decrypted_password %>">
                <input class="toggle" type="button">
              <% end %>
            </span>
          </span>
          <span class="row">
            <span class="cell"><%= link_to record.url, record.url, :target => '_blank' %></span>
          </span>
        </p>
      </div>
      <%= link_to '<div class="link"></div>'.html_safe, record %>
    </div>
  <% end %>
<% end %>
