<h1>Welcome<%= ", #{current_user.name}" if current_user.name %></h1>

<p>
<strong>New folder</strong>
<%= form_for @folder, :remote => true do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <%= f.submit %>
<% end %>
</p>

<div id="folders">
<% @folders.each do |folder| %>
  <p>
  <%= folder.name %>
  <%= link_to 'Destroy', folder, :confirm => 'Are you sure?', :method => :delete, :remote => true, :class => 'delete_folder' %><br>
  <% folder.records.each do |record| %>
    &nbsp;&nbsp;<%= record.name %><br>
  <% end %>
  </p>
<% end %>
</div>


<p>
<strong>Often used</strong><br>
<% @often_used.each do |record| %>
  <%= record.name %><br>
<% end %>
</p>
