<h1>Welcome<%= ", #{current_user.name}" if current_user.name %></h1>

<% unless @often_used.blank? %>
  <p id="often_used">Often used</p>
  <% @often_used.each do |record| %>
    <div class="often_used">
      <div class="name">
        <p>
          <%= record.name %>
        </p>
      </div>
      <div class="data">
        <p>
          <span class="row">
            <span class="cell"><%= record.username %></span>
          </span>
          <span class="row">
            <span class="cell">
              <% if record.decrypted_password %>
                <input class="info_password" type="password" readonly="readonly" size="<%= record.decrypted_password.size %>" value="<%= record.decrypted_password %>">
                <input class="info_password password_value" type="text" readonly="readonly" size="<%= record.decrypted_password.size %>" value="<%= record.decrypted_password %>">
                <input class="toggle" type="button">
              <% end %>
            </span>
          </span>
          <span class="row">
            <span class="cell"><%= link_to record.url, record.url, :target => '_blank' %></span>
          </span>
        </p>
      </div>
      <%= link_to '<div class="link"></div>'.html_safe, record %>
    </div>
  <% end %>
<% else %>
  <div id="tutorial">
    <p>
      'Guess this is your first time around here. Don't worry, <strong>6lock is as simple as it looks</strong>.<br>
      Now, try to create a new folder by clicking on the "+" on the left of your screen.<br>
      Then create a file in it with the dedicated column on the right of the brand new folder.<br>
      Finally click on the file and click edit, fill in the informations for your secured file and you are done.<br>
      'See? Simple as it looks. : )
    </p>
  </div>
<% end %>
