<h1><%= @current_record.name %></h1>

<p>
<strong>New folder</strong>
<%= form_for @folder, :remote => true do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <%= f.submit %>
<% end %>
</p>

<div id="folders">
  <% @folders.each do |folder| %>
    <div>
    <% if folder == @current_folder %>
      <em><%= folder.name %></em>
    <% else %>
      <%= folder.name %>
    <% end %>
    <%= link_to 'Destroy', folder, :data => { :confirm => 'Are you sure?' }, :method => :delete, :remote => true, :class => 'delete_folder' %><br><br>
    <strong>New record</strong>
    <%= form_for @record, :remote => true do |f| %>
      <%= hidden_field_tag 'folder_id', folder.id, :id => nil, :class => 'folder_id' %>
      <%= f.label :name %>
      <%= f.text_field :name, :id => nil, :class => 'record_name' %>
      <%= f.submit %>
    <% end %>
    <div id='<%= "folder_#{folder.id}" %>'>
      <% folder.records.each do |record| %>
        <p>
          &nbsp;&nbsp;<%= link_to record.name, record %>
          <%= link_to 'Destroy', record, :data => { :confirm => 'Are you sure?' }, :method => :delete, :remote => true, :class => 'delete_record' %>
        </p>
      <% end %>
    </div>
    </div>
  <% end %>
</div>

<strong>Record</strong><br>
<%= form_for @current_record do |f| %>
  <%= hidden_field_tag 'folder_id', @current_folder.id, :id => nil, :class => 'folder_id' %>
  <%= f.label :username %>
  <%= f.text_field :username %><br>
  <%= f.label :decrypted_password %>
  <%= f.password_field :decrypted_password, :value => @current_record.decrypted_password %><br>
  <%= f.label :url %>
  <%= f.text_field :url %><br>
  <%= f.label :notes %>
  <%= f.text_area :notes %><br>
  <%= f.submit 'Done' %>
<% end %>

<%= @current_record.inspect %>
