<h1><%= @current_record.name.capitalize %></h1>

<%= form_for @current_record do |f| %>
  <%= hidden_field_tag 'folder_id', @current_folder.id, :id => nil, :class => 'folder_id' %>

  <%= f.submit 'Done', :id => "edit_record" %>

  <div class="clear_right"></div>

  <div class="record_info">
    <div class="info_title">
      <p>User</p>
    </div>
    <div class="info_content">
      <p><%= f.text_field :username %></p>
    </div>
  </div>

  <div class="record_info">
    <div class="info_title">
      <p>Password</p>
    </div>
    <div class="info_content">
      <p>
        <%= f.password_field :decrypted_password, :value => @current_record.decrypted_password, :class => "decrypted_password" %>
        <input class="decrypted_password" id="password_value" type="text" size="30" value="<%= @current_record.decrypted_password %>">
        <input id="toggle" type="button">
        <input id="forge" type="button">
        <div id="overlay"></div>
        <div id="overlay_box">
          <div id="inner_box">
            <div id="box_header">
              <p>Forge a password</p>
            </div>
            <div id="box_footer">
              <p>
                <input id="cancel_forge" type="button" value="Cancel">
                <input id="forge_button" type="button" value="Forge it!">
              </p>
            </div>
          </div>
        </div>
      </p>
    </div>
  </div>

  <div class="record_info">
    <div class="info_title">
      <p>Url</p>
    </div>
    <div class="info_content">
      <p><%= f.text_field :url %></p>
    </div>
  </div>

  <p id="notes"><%= f.text_area :notes, :cols => "50", :rows => "4" %></p>
<% end %>
