<h1><%= @current_record.name.capitalize %></h1>

<% if flash[:record_errors] %>
  <div id="flash_alert">
    <ul>
    <% flash[:record_errors].messages.each do |error| %>
      <li><%= error[1][0].capitalize %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<%= form_for @current_record do |f| %>
  <%= hidden_field_tag 'folder_id', @current_folder.id, :id => nil, :class => 'folder_id' %>

  <p>Move to folder : <%= collection_select(:current_record, :folder_id, @folders, :id, :name, {}, { :selected_value => @current_record.folder.id }) %></p>

  <%= f.submit 'Done', :id => "edit_record" %>

  <div class="clear_right"></div>

  <div class="record_info">
    <div class="info_title">
      <p>User</p>
    </div>
    <div class="info_content">
      <p><%= f.text_field :username %></p>
    </div>
  </div>

  <div class="record_info">
    <div class="info_title">
      <p>Password</p>
    </div>
    <div class="info_content">
      <p>
        <%= f.password_field :decrypted_password, :value => @current_record.decrypted_password, :class => "decrypted_password" %>
        <input class="decrypted_password password_value" type="text" size="30" value="<%= @current_record.decrypted_password %>">
        <input class="toggle" type="button">
        <input id="forge" type="button">
        <div id="overlay"></div>
        <div id="overlay_box">
          <div id="inner_box">
            <div id="box_header">
              <p>Forge a password</p>
            </div>
            <p id="tools">
              Length &nbsp;<input id="length" type="text" size="3">&nbsp;&nbsp;
              Characters &nbsp;<input id="characters" type="checkbox" class="forge_checkbox">&nbsp;&nbsp;
              Numbers &nbsp;<input id="numbers" type="checkbox" class="forge_checkbox">&nbsp;&nbsp;
              Specials &nbsp;<input id="specials" type="checkbox" class="forge_checkbox">&nbsp;&nbsp;<br>
              <input id="generate" type="button" value="Generate"><br>
              <input id="generated" type="text" size="50">
            </p>
            <div id="box_footer">
              <p>
                <input id="cancel_forge" type="button" value="Cancel">
                <input id="forge_button" type="button" value="Forge it!">
              </p>
            </div>
          </div>
        </div>
      </p>
    </div>
  </div>

  <div class="record_info">
    <div class="info_title">
      <p>Url</p>
    </div>
    <div class="info_content">
      <p><%= f.text_field :url %></p>
    </div>
  </div>

  <p id="notes"><%= f.text_area :notes, :cols => "50", :rows => "4" %></p>
<% end %>
