<% title = @current_record.name.capitalize %>
<% set_head(title) %>

<h1 id="record_name"><%= @current_record.name.capitalize %></h1>

<%= link_to '<div id="edit_record"><p>Edit</p></div>'.html_safe, edit_record_path(@current_record) %>

<div class="clear_right"></div>

<div class="record_info">
  <div class="info_title">
    <p>User</p>
  </div>
  <div class="info_content">
    <p><%= @current_record.username %></p>
  </div>
</div>

<div class="record_info">
  <div class="info_title">
    <p>Password</p>
  </div>
  <div class="info_content">
    <% if @current_record.decrypted_password %>
      <p>
        <input class="info_password" type="password" readonly="readonly" size="<%= @current_record.decrypted_password.size %>" value="<%= @current_record.decrypted_password %>">
        <input class="info_password password_value" type="text" readonly="readonly" size="<%= @current_record.decrypted_password.size %>" value="<%= @current_record.decrypted_password %>">
        <input class="toggle" type="button">
      </p>
    <% end %>
  </div>
</div>

<div class="record_info">
  <div class="info_title">
    <p>Url</p>
  </div>
  <div class="info_content">
    <p><%= link_to @current_record.url, @current_record.url, :target => '_blank' %></p>
  </div>
</div>

<p id="notes"><%= @current_record.notes %></p>
