<h1><%= @current_record.name %></h1>

<%= link_to 'Edit', edit_record_path(@current_record) %><br>
<%= @current_record.username %><br>
<%= @current_record.decrypted_password %><br>
<%= @current_record.url %><br>
<%= @current_record.notes %>

<%#= @current_record.inspect %>
