<h1>Unlocking</h1>

<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
  <p><%= f.email_field :email, :size => "48" %></p>

  <p>
    <%= f.password_field :password, :size => "40" %>
    <%= f.submit "", :id => "unlock" %>
  </p>

  <% if devise_mapping.rememberable? %>
    <p><%= f.check_box :remember_me %> <%= f.label :remember_me %></p>
  <% end %>
<% end %>

<div id="shared_links">
  <%= render "devise/shared/links" %>
</div>
