<div id="left_bar">
  <ul id="main_nav">
    <li class="separator"></li>
    <% if user_signed_in? %>
      <li>
        <%= collection_select(:quick, :access, @folders.map {|f| f.records }.flatten.sort_by(&:name), :id, :name, { :prompt => "Quick access" }) %>
      </li>
      <li class="separator"></li>
      <li>
        <%= link_to 'Home', home_path, :id => ("current_page" if controller.controller_name == 'home') %>
      </li>
      <li class="separator"></li>
      <li>
        <%= link_to 'Account', edit_user_registration_path, :id => ("current_page" if controller.controller_name == 'registrations') %>
      </li>
      <li class="separator"></li>
      <li>
        <span class="fake_link"<%= "id=current_page" if controller.controller_name == 'records' %>>Folders</span>
      </li>

      <div id="bottom">
        <li class="separator"></li>
        <li>
          <%= link_to 'Sign out', destroy_user_session_path, :method => 'delete' %>
        </li>
      </div>
    <% else %>
      <li>
        <%= link_to "Sixlock", root_path %>
      </li>
      <li class="separator"></li>
      <li>
        <%= link_to 'Sign in', new_user_session_path %>
      </li>
      <li>
        <%= link_to 'Sign up', new_user_registration_path %>
      </li>
    <% end %>
    <li class="separator"></li>
  </ul>
  <% if user_signed_in? %>
    <ul id="folders_nav" class="elements_nav">
      <li id="add_folder" class="add_element"><a href="#">+</a></li>
      <li id="add_folder_form" class="add_element_form">
        <%= form_for @folder, :remote => true do |f| %>
          <%= f.text_field :name, :size => '25' %><%= f.submit 'OK', :class => "new_element_submit" %>
        <% end %>
      </li>
    </ul>
    <% if @folders %>
      <ul class="elements_nav wrapper">
        <% @folders.each do |folder| %>
          <%= content_tag :li, :id => ("current_folder" if folder == @current_folder), :class => "folder_link element_link" do %>
            <%= link_to image_tag('cross.png', :alt => 'delete'), folder, :data => { :confirm => 'Are you sure?' }, :method => :delete, :remote => true, :class => 'delete_element' %>
            <a href="#" id="link_<%= folder.id %>" class="show_folder"><%= folder.name %></a>
            <%= form_for folder, :remote => true, :html => { :class => "rename_element" } do |f| %>
              <%= f.text_field :name, :size => '18', :id => "" %><%= f.submit 'OK', :class => "edit_element_submit" %>
            <% end %>
            <input class="edit_element" type="button">
          <% end %>
        <% end %>
      </ul>
    <% end %>
  <% end %>
</div>
<div id="right_bar">
</div>
<% if @folders %>
  <% @folders.each do |folder| %>
    <div id="folder_<%= folder.id %>" class="files_bar existing_files_bar" <%= 'style=z-index:4;' if folder == @current_folder %>>
      <ul class="files_nav elements_nav">
        <li class="add_element add_file"><a href="#">+</a></li>
        <li class="add_element_form add_file_form">
          <%= form_for @record, :remote => true do |f| %>
            <%= hidden_field_tag 'folder_id', folder.id, :id => nil, :class => 'folder_id' %>
            <%= f.text_field :name, :size => '25', :id => nil, :class => 'record_name' %><%= f.submit 'OK', :class => "new_element_submit" %>
          <% end %>
        </li>
      </ul>
      <ul class="elements_nav wrapper">
        <% folder.records.each do |record| %>
          <%= content_tag :li, :id => ("current_record" if record == @current_record), :class => "element_link" do %>
            <%= link_to image_tag('cross.png', :alt => 'delete'), record, :data => { :confirm => 'Are you sure?' }, :method => :delete, :remote => true, :class => 'delete_element' %>
            <%= link_to record.name, record, :id => "link_#{record.id}" %>
            <%= form_for record, :remote => true, :html => { :class => "rename_element" } do |f| %>
              <%= hidden_field_tag 'folder_id', folder.id, :id => nil %>
              <%= f.text_field :name, :size => '20', :id => "" %><%= f.submit 'OK', :class => "edit_element_submit" %>
            <% end %>
            <input class="edit_element" type="button">
          <% end %>
        <% end %>
      </ul>
    </div>
  <% end %>
<% end %>
