<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sixlock</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <%= stylesheet_link_tag    "application", "http://fonts.googleapis.com/css?family=Open+Sans:400,300", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div id="container" class="container">
      <div id="topbar">
        <%= render 'layouts/menu' %>
      </div>
      <div id="patterns">
        <div id="maintitle">
          <h2>WELCOME TO 6LOCK</h2>
          <p>Dedicated as ever to making your life easier</p>
        </div>
        <%= image_tag 'pics.png', :alt => "6lock screenshots" %>
      </div>
      <div id="page" role="main">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
