<!doctype html>
<html>
  <head>
    <%= render 'layouts/head' %>
  </head>
  <body>
    <div id="container" class="container">
      <div id="topbar">
        <%= render 'layouts/menu' %>
      </div>
      <div id="patterns">
        <div id="maintitle">
          <h2>WELCOME TO 6LOCK</h2>
          <p>Dedicated as ever to making your life easier</p>
        </div>
        <%= image_tag 'pics.png', :alt => "6lock screenshots" %>
      </div>
      <div id="page" role="main">
        <%= yield %>
      </div>
      <footer>
        <%= render 'layouts/footer' %>
      </footer>
    </div>
  </body>
</html>
